<div class="login-container">
  <div class="logo-container">
    <mat-icon class="logo-icon">architecture</mat-icon>
  <h1 class="logo-title">ArquiTrack</h1>
</div>
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title class="login-title">Iniciar Sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" placeholder="tu@email.com">
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            Email es requerido
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            Email no es válido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password_provided" type="password">
          <mat-error *ngIf="loginForm.get('password_provided')?.hasError('required')">
            Contraseña es requerida
          </mat-error>
        </mat-form-field>

        <button 
          mat-raised-button 
          type="submit" 
          class="btn_login full-width">
          <span *ngIf="!isLoading">Ingresar</span>
          <span *ngIf="isLoading">Cargando...</span>
        </button>

        <div class="divider">
          <span>o</span>
        </div>
    <button mat-button type="button" class="btn_social full-width" title="Iniciar sesión con Google" (click)="onGoogleSignIn()">
      <img [src]="googleIcon" class="google-icon" alt="Google">
      <span class="text_social">
        Continuar con Google
      </span>
    </button>

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions align="start">
      <p>¿No tenes cuenta? <a class="a" routerLink="/auth/register">Regístrate</a></p>
    </mat-card-actions>
  </mat-card>
</div>
