<h2 mat-dialog-title>Registrar Nueva Tarea</h2>
      <mat-dialog-content>
        <form [formGroup]="taskForm" class="task-form">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Título de la tarea</mat-label>
            <input matInput formControlName="title" placeholder="Título breve y descriptivo">
            <mat-error *ngIf="taskForm.get('title')?.hasError('required')">
              El título es obligatorio
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Descripción de la tarea</mat-label>
            <textarea matInput formControlName="description" placeholder="Detalles de la tarea..." rows="3"></textarea>
            <mat-error *ngIf="taskForm.get('description')?.hasError('required')">
              La descripción es obligatoria
            </mat-error>
          </mat-form-field>

          <div class="date-container">
            <mat-form-field appearance="outline" class="date-field">
              <mat-label>Fecha de inicio</mat-label>
              <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
              <mat-error *ngIf="taskForm.get('startDate')?.hasError('required')">
                La fecha de inicio es obligatoria
              </mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="date-field">
              <mat-label>Fecha estimada de fin</mat-label>
              <input matInput [matDatepicker]="endDatePicker" formControlName="estimatedEndDate">
              <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
              <mat-error *ngIf="taskForm.get('estimatedEndDate')?.hasError('required')">
                La fecha de fin es obligatoria
              </mat-error>
            </mat-form-field>
          </div>
  
         

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let status of taskStatuses" [value]="status">
                {{ status }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="taskForm.get('status')?.hasError('required')">
              El estado es obligatorio
            </mat-error>
          </mat-form-field>
        </form>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-raised-button color="primary" [disabled]="taskForm.invalid" (click)="saveTask()">
          Guardar Tarea
        </button>
      </mat-dialog-actions>