<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <div class="sidebar-header">
        <mat-icon class="logo-icon">architecture</mat-icon>
      <h1 class="sidebar-title">ArquiTrack</h1>
    </div>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/dashboard']" [routerLinkActive]="['active-link']" (click)="handleSidenavItemClick()">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span class="sidebar-option" matListItemTitle>Dashboard</span>
      </a>
      <a mat-list-item [routerLink]="['/proyectos']" [routerLinkActive]="['active-link']" (click)="handleSidenavItemClick()">
        <mat-icon matListItemIcon>work_outline</mat-icon>
        <span class="sidebar-option" matListItemTitle>Proyectos</span>
      </a>
      <a mat-list-item [routerLink]="['/clientes']" [routerLinkActive]="['active-link']" (click)="handleSidenavItemClick()">
        <mat-icon matListItemIcon>people_outline</mat-icon>
        <span class="sidebar-option" matListItemTitle>Clientes</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-navbar (sidenavToggle)="toggleDrawer()"></app-navbar>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
